<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 命名空间 -->
<mapper namespace="com.quo.mapper.ProductMapper">
<resultMap id="product" type="Product">
        <id property="pid" column="pid" javaType="Integer"/>
        <result property="pname" column="pname" javaType="String"/>
        <result property="psid" column="psid" javaType="int"/>
        <result property="stock" column="stock" javaType="int"/>
        <result property="connection" column="connection" javaType="String"/>
        <result property="pInterface" column="pInterface" javaType="String"/>
        <result property="noise" column="noise" javaType="String"/>
        <result property="bass" column="bass" javaType="String"/>
        <result property="waterproof" column="waterproof" javaType="String"/>
        <association property="psid" column="psid" javaType="ProductSeries" >
            <id property="psid" column="psid" javaType="int"/>
            <result property="psname" column="psname" javaType="String"/>
        </association>
         <association property="tid" column="tid" javaType="ProductType" >
            <id property="tid" column="tid" javaType="int"/>
            <result property="tname" column="tname" javaType="String"/>
        </association>
    </resultMap>	
	
 <!-- 	<select id="getProductList" resultType="productDto">
	select p.pid,p.pname,pt.tname,ps.psname,p.price,p.stock from product p left join productseries ps on p.psid=ps.psid 
	left join producttype pt on ps.tid=pt.tid order by pid asc
	
	</select> 
 -->
<!-- 	<select id="getProduct" parameterType="Integer" resultType="product">
	select * from product where pid=#{pid}
	
	</select> -->
	
	<update id="updateProduct" parameterType="product">
	update product set pname=#{pname},psid=#{psid},connection=#{connection},
	pinterface=#{pinterface},noise=#{noise},bass=#{bass},waterproof=#{waterproof},price=#{price},
	packageInfo=#{packageInfo} where pid=#{pid}
	
	</update>
	
	<select id="getTypeList" resultType="productType">
	select * from producttype 
	
	</select>
	
	<select id="getSeriesList" resultType="productSeries">
	select * from productseries 
	
	</select>
	
	<delete id="deleteProducts" parameterType="Long">
		delete from role where id = #{id}
	</delete>


</mapper>