<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.quo.mapper.UserMapper">
<insert id="save" parameterType="emp">
		insert into emp
			(ename,pwd,dno,rid,tel,email)
		values
			(#{ename},#{pwd},#{dno},#{rid},#{tel},#{email})
	</insert>
	
</mapper>



















