<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
  xmlns:aop="http://www.springframework.org/schema/aop"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	
	<!-- 使用aop注解方式 必须加以下配置  -->
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	
	<!-- 扫描组件 -->
	<context:component-scan base-package="com.quo.*"></context:component-scan>
	<!-- 引入外部资源文件 -->
	<context:property-placeholder location="classpath:com/quo/config/db.properties"/>
	<!-- 数据源信息 -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	   <property name="driverClassName" value="${jdbc.driver}"></property>
	   <property name="url" value="${jdbc.url}"></property>
	   <property name="username" value="${jdbc.name}"></property>
	   <property name="password" value="${jdbc.password}"></property>
	</bean>
	
	<!-- 获取mybatis配置信息  获取sqlSessionFactory对象 -->
	<bean id="sqlFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	<!--dataSource 引入数据源信息  是必须的  -->
	   <property name="dataSource" ref="dataSource"></property>
	<!-- 指定mybatis配置文件的位置 -->
	<property name="configLocation" value="classpath:com/quo/config/SqlMapConfig.xml"></property>
	    	<!-- 类型别名扫描包 -->
	<property name="typeAliasesPackage" value="com.quo.*"></property>
	
	</bean>

	<!-- 扫描dao接口路径，通过动态代理方式创建mapper代理对象 -->
	 <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	   <property name="sqlSessionFactoryBeanName" value="sqlFactory"></property>
	   <!-- 扫描dao层包下面的接口 -->
	   <property name="basePackage" value="com.quo.mapper"></property>
	 </bean>
</beans>